:root {
    --color-brand-normal: #819857;
    --color-primary-white: #faf4ea;
    --color-primary-black: #31261a;
    --color-brand-dark-green: #465929;
    --color-brand-light: #cfcfbc;
    --color-secondary-dark: #a28268;
}