.link {
    color: var(--color-primary-white);
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: var(--color-brand-normal);
}

.mobile-menu {
    &__link {
        color: var(--color-primary-black);
        text-decoration: none;
        margin-bottom: 20px;
        transition: color 0.3s;
            &:hover {
                color: var(--color-brand-normal);
                font-weight: 700;
            }
    }
}